body {
    padding: 0 2em 2em 2em;
    margin: auto;
    font-family: monospace;

    /* 
     * max-width := 43 * font-size 
     * Seems to result in ~80 characters per line.
     */
    max-width: 58em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

.paragraph, .listingblock {
    font-size: 1.35em;
    line-height: 1.3;
}

.listingblock {
    padding-left: 2em;
}

#footer {
    padding-top: 2em;
}
